<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href ="/css/login.css">

</head>

<body>
    <div class="login-container">
        <h1>Log on to TTOS</h1>
        <img src="artefacts/images/tsurugi.jpg" alt="Tsurugi" class="bird-image">

        <h2> </h2>
        <form action="/login" method="post">
            <input type="text" id="username" name="username" placeholder="Usuário" required>
            <input type="password" id="password" name="password" placeholder="Senha" required>
            <button type="submit">Ok</button>
        </form>
        <button type ="submit" formaction="/register">Register</button>
    </div>
</body>

</html>